
.cattoFooterRowLegal{
    background-color: #383838 ;
    height: 25px;
    color: #C8C8C8;
    font-size: 1rem;
    padding-left: 15%;
    padding-right: 15%;
}
.cattoTopThinBar{
    height: 5px;
    background-image: linear-gradient(black, white);
}