
.footerRowBottom{
    background-image: linear-gradient(#404040, black, white);
    min-height: 125px;
    color: #686868;
    font-size: 1rem;
    // border-bottom-left-radius: 50% 20%;
    // border-bottom-right-radius: 50% 20%;
}
.cattoTopThinBar{
    height: 5px;
    background-image: linear-gradient(black, white);
}